// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---Start Edit---//
#edit
{
  
.row
{
  margin: 0;
}

  #section1
  {
    margin: 0;
    margin-top: 5%;
    margin-left: 7%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    // width: 30%;
    
    h1
    {
      margin: 0;
      padding-top: 4%;
      padding-bottom: 4%;
      font-weight: bold;
      color: white;
    }

    img
    {
      height: 200px;
      width: 150px;
    }

    #bloc1
    {

      .field1 
      {
        position: relative;
        margin-left: 10%;
        width: 80%;
        padding: 1% 15px;

        input
        {
          text-align: center;
        }

        .form-control:focus
        {
          box-shadow: 0px 0px 15px 1px #5BC0DE;
        }

        label
        {
          color: white;
        }
      
      }

      .actions
      {
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 4%;
      }

    }

  }

  #section2
  {
    margin: 0;
    margin-top: 13%;
    // margin-left: 40%;
    // width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    
    h1
    {
      padding-top: 4%;
      // padding-bottom: 2%;
      margin: 0;
      // margin-bottom: 5%;
      padding-bottom: 2%;
      font-weight: bold;
      color: white;
    }

    label
    {
      margin: 16px 0;
      color: white;
    }

    input
    {
      text-align: center;
    }

        .field2
        {
        position: relative;
        width: 100%;
        padding: 1% 35%;

        }

        .actions
        {
          margin-bottom: 5%;
          padding-top: 5%;
          padding-bottom: 4%;
        }

  }

}
//---End Edit---//


//---Start Dashbord---//
#dash
{

  body 
  {
    background-image: url(http://i.telegraph.co.uk/multimedia/archive/02616/ruralEngland_2616380k.jpg);
  }

  h2 
  {
  position: relative;
  left: 30%;
  }

  .Connecter
  {
  text-align: left;
  width: 25%;
  height: 500px;
  background: blue;
  margin-left: 3%;
  margin-top: 3%;
  }

  .Actualiter
  {
  text-align: left;
  width: 50%;
  height: 500px;
  background: blue;
  margin-left: 30%;
  margin-top: -36.5%;
  }
}
//---End Dashbord---//

