// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---Start Edit---//

#edit
{
  .row
  {
    margin: 0;
  }

  #section1
  {
    margin: 0;
    margin-top: 5%;
    margin-left: 7%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    // width: 30%;
    
    h1
    {
      margin: 0;
      padding-top: 4%;
      padding-bottom: 4%;
      font-weight: bold;
      color: white;
    }

    img
    {
      height: 200px;
      width: 150px;
    }

    #bloc1
    {

      .field1 
      {
        position: relative;
        margin-left: 10%;
        width: 80%;
        padding: 1% 15px;

        input
        {
          text-align: center;
        }

        .form-control:focus
        {
          box-shadow: 0px 0px 15px 1px #5BC0DE;
        }

        label
        {
          color: white;
        }
      
      }

      .actions
      {
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 4%;
      }

    }

  }

  #section2
  {
    margin: 0;
    margin-top: 13%;
    // margin-left: 40%;
    // width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    
    h1
    {
      padding-top: 4%;
      // padding-bottom: 2%;
      margin: 0;
      // margin-bottom: 5%;
      padding-bottom: 2%;
      font-weight: bold;
      color: white;
    }

    label
    {
      margin: 16px 0;
      color: white;
    }

    input
    {
      text-align: center;
    }

    .field2
    {
    position: relative;
    width: 100%;
    padding: 1% 35%;

    }

    .actions
    {
      margin-bottom: 5%;
      padding-top: 5%;
      padding-bottom: 4%;
    }

  }

}
//---End Edit---//


//---Start Dashbord---//
#dash
{
  .connecter{
    text-align: right;
    width: 25%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 1% 3%;
    border-radius: 40px;
    border: 2px solid darkgreen;

    .dashuser
    {
      postion: relative;  
      left: 5%;
      color: white;

      p
      {
        margin: 0px 140px 20px;
        color: white;
      }

      .date
      {
        color: white;
      }

      .taille
      {
        //postion: relative;
        //padding-left: 5%;
        color: white;
      }
    } 
  }

  .actualiter
  {
    postion: relative;
    text-align: left;
    width: 64%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: -49.2% 0 0 32.5%;
    padding: 35px;
    border-radius: 40px;
    border: 2px solid darkgreen;

    .dashuser
    {
      postion: relative;  
      color: white;

      p
      {
        color: white;
        font-size: 14px;
      }

      .date
      {
        color: white;
        font-size: 10px;
      }

      .taille
      {
        //postion: relative;
        //padding-left: 5%;
        color: white;
        font-size: 10px;
      }
    }
  }

}
//---End Dashbord---//


#discution
{
	background: rgba(0, 0, 0, 0.7);
	margin: 5%;
	padding: 10px;
	color: black;
	border-radius: 40px;

	.gauche
	{
		width: 400px;
		position: relative;
		right: -4%;
		padding: 5px;
		margin: 40px;

		background: #FFFFFF;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 20px;
		box-shadow: 0px 0px 15px 10px #5BC0DE;

		.surnom
		{
			margin:0 0 0 10px;
			font-size: 18px;
			color: #00A3FF;
			text-align: left;
		}

		.contenu
		{
			font-size: 16px;
			color: black;
		}

		.date_message
		{
			font-size: 10px;
			margin: 20px 0px 0px 30px;
			text-align: left;
		}
	
	}

	.droite
	{
		width: 400px;
		position: relative;
		left: 50%;
		padding: 5px;
		margin: 40px;
		background: #FFFFFF;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		border-radius: 20px;
		//border: #FF95FF solid 5px;
		box-shadow: 0px 0px 15px 10px #FF95FF;

		.surnom
		{
			margin:0 0 0 20px;
			font-size: 18px;
			color: #00A3FF;
			text-align: left;
		}

		.contenu
		{
			font-size: 16px;
			color: black;
		}

		.date_message
		{
			font-size: 10px;
			margin: 15px 0px 0px 30px;
			text-align: left;
			color: black;
		}

	}

	h1
	{
  	color: white;
  	font-family:URW Chancery L;
  	font-size: 35px;
	}

	label 
	{
		color: #f5f5f5;
	}

	#message_user_id
	{
  	background: rgba(0, 0, 0, 0);
  	color: white;
  	border: 0px;
	}


	#message_content
	{
  	margin: 30px;
  	width: 35%;
  	height: 50px;
  	box-shadow: 0px 0px 15px 10px #5BC0DE;
  	border-radius: 20px;
	}

	input
	{
  	color: #00A3FF;
  	border-radius: 40px;
  	border: white 1px solid;
  	background: white;
  	margin: 10px;
  	padding: 10px;
  	box-shadow: 0px 0px 5px 5px #5BC0DE;
  	font-size: 14px;
	}
}
