// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---Start Edit---//
#edit
{
  
  #section1
  {
    // margin-top: 3%;
    // margin-left: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    // width: 30%;
    
    h1
    {
      // padding-top: 4%;
      padding-bottom: 2%;
      font-weight: bold;
      color: white;
    }

    #bloc1
    {

      .field1 
      {
        position: relative;
        width: 100%;
        padding: 1% 15px;

        input
        {
          text-align: center;
        }

        .form-control:focus
        {
          box-shadow: 0px 0px 15px 1px #5BC0DE;
        }

        label
        {
          color: white;
        }
      
      }

      .actions
      {
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 4%;
      }

    }

  }

  #section2
  {
    // margin-top: 5%;
    // margin-left: 40%;
    // width: 55%;
    background-color: rgba(0, 0, 0, 0.6);
    
    h1
    {
      // padding-top: 4%;
      padding-bottom: 2%;
      font-weight: bold;
      color: white;
    }

    label
    {
      color: white;
    }

    input
    {
      text-align: center;
    }

  }

}
//---End Edit---//


//---Start Dashbord---//
#dash
{
  .connecter{
    text-align: right;
    margin-left: 3%;
    width: 25%;
    height: 500px;
    margin-left: 2%;
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0.6);

    .dashuser
    {
      postion: relative;  
      left: 5%;
      color: white;

      p
      {
        margin: 0px 140px 20px;
        color: white;
      }

      .date
      {
        color: white;
      }

      .taille
      {
        //postion: relative;
        //padding-left: 5%;
        color: white;
      }
    } 
  }

  .actualiter
  {
    postion: relative;
    text-align: left;
    width: 64%;
    height: 500px;
    margin-left: 32%;
    margin-top: -36.5%;
    background-color: rgba(0, 0, 0, 0.6);

    .dashuser
    {
      postion: relative;  
      left: 5%;
      color: white;

      p
      {
        margin: 0px 140px 20px;
        color: white;
      }

      .date
      {
        color: white;
      }

      .taille
      {
        //postion: relative;
        //padding-left: 5%;
        color: white;
      }
    }
  }

}
//---End Dashbord---//





